.raleway-font {
    font-family: Raleway;
}
.text-theme {
    color: #097969;
}
.text-violet {
    color: #A800D3;
}
.text-orange {    
    color: #FF9B37;
}
pre {
    background-color: rgba(9, 121, 105, 0.9); padding: 0 20px; height: 160px; overflow-y: hidden !important;
}
.show-800 {
    display: none;
}
@media screen and (max-width: 800px) {
    .remove-800 {
        display: none;
    }
    .show-800 {
        display: block;
    }
}
  
