body {
  background-color: #097969 !important;
}
.raleway-font {
    font-family: Raleway;
}
.text-theme {
    color: #097969 !important;
}
.bg-theme {
    background-color: #097969 !important;
}
.text-violet {
    color: #B362FF;
}
.text-orange {    
    color: #FF9B37;
}
pre {
    background-color: #212121f5; padding: 0 20px; height: 160px; overflow-y: hidden !important;
}
.show-800 {
    display: none !important;
}
@media screen and (max-width: 800px) {
    .remove-800 {
        display: none !important;
    }
    .show-800 {
        display: block !important;
    }
}
.fade-in {
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;
    -moz-animation: fadeIn ease 2.5s;
    -o-animation: fadeIn ease 2.5s;
    -ms-animation: fadeIn ease 2.5s;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.ti-cursor {
  color: rgba(255, 255, 255, 0.623) !important;
}
.card {max-height: 150px; overflow-y: scroll;}
::-webkit-scrollbar {
  width: 1px;
}
/***** Slide Right *****/
.slide-right {
  animation: 1s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

/***** Slide Left *****/
.slide-left {
  animation: 1s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.btn-tag {
  padding: 2px 2px;
  font-size: 12px;
  border: 0px solid black;
  cursor:context-menu !important;
}
